build:
  maxIssues: 0

complexity:
  active: true
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
    ignoreDefaultParameters: true
    ignoreDataClasses: true
    ignoreAnnotatedParameter: []
  ComplexMethod:
    active: true
    threshold: 15
  TooManyFunctions:
    active: true
    thresholdInFiles: 30
    thresholdInClasses: 25
    thresholdInInterfaces: 10
    thresholdInObjects: 15
    thresholdInEnums: 15
  LongMethod:
    active: true
    threshold: 60

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  RedundantSuspendModifier:
    active: true

empty-blocks:
  active: true
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: '_|(ignore|expected).*'

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: false
  TooGenericExceptionThrown:
    active: true
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - InterruptedException
      - MalformedURLException
      - NumberFormatException

formatting:
  active: true
  android: true

naming:
  active: true
  FunctionNaming:
    active: true
    ignoreAnnotated:
      - Composable
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][A-Za-z0-9]*'
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
    privateVariablePattern: '_?[a-z][A-Za-z0-9]*'

performance:
  active: true
  SpreadOperator:
    active: true
  ForEachOnRange:
    active: true

potential-bugs:
  active: true
  UnsafeCallOnNullableType:
    active: true
  UnreachableCode:
    active: true

style:
  active: true
  MagicNumber:
    active: false
  MaxLineLength:
    active: true
    maxLineLength: 120
  WildcardImport:
    active: true
    excludeImports:
      - kotlinx.android.synthetic.*
      - kotlinx.coroutines.flow.*
  UnusedImports:
    active: true
  UnusedPrivateMember:
    active: true
    allowedNames: '(_|ignored|expected|serialVersionUID)'
  ReturnCount:
    active: false
  ForbiddenComment:
    active: false
  UseCheckOrError:
    active: true

